/*variables*/

:root {
    --main-black: #000000;
    --main-white: #ffffff;

    --secondary-black: #242424;
    --breadcrumbs-black: #ABA9A7;
    --disabled-gray: #F9F6F3;
    --light-gray: #E5E5E5;

    --special: #663d15;
}

/*global*/

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--main-white);
    text-transform: uppercase;
    background-color: var(--main-black);
    background-image: url("../images/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*main navigation*/

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: var(--main-white);
    background-color: transparent;
}

.main-navigation-wrapper {
    background-color: var(--main-black);
}

.site-navigation {
    list-style: none;
}

.site-navigation-current a:not([href]) {
    background-color: var(--main-black);
}

/*user navigation*/

.site-navigation a,
.user-navigation a {
    color: var(--main-white);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: var(--secondary-black);
}

/*benefits*/

.benefits-list {
    list-style: none;
}

.benefits-item {
    text-align: center;
}

.benefits-item h3 {
    font-size: 30px;
    line-height: 42px;
}

/*index columns*/

.index-columns {
    color: var(--main-black);
    background-color: var(--main-white);
    background-image: url("../images/pattern-light.png");
    background-position: 0 0;
    background-repeat: repeat;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

/*news*/

.news-list {
    list-style: none;
}

/*gallery*/

.gallery-content {
    background-color: var(--breadcrumbs-black);
    border: 7px solid var(--main-white);
}

/*button*/

.button {
    font: inherit;
    text-align: center;
    color: var(--main-white);
    vertical-align: center;
    text-transform: uppercase;
    background-color: var(--main-black);
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: var(--special);
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: var(--main-black);
}

/*contacts*/

.contact-phone {
    color: inherit;
}

/*appointment*/

.appointment-item input {
    font: inherit;
    background-color: transparent;
    border: 2px solid var(--main-black);
}

.appointment-item input:focus {
    border-color: var(--special);
}

/*main footer*/

.main-footer {
    color: var(--main-white);
    background-color: var(--secondary-black);
    background-image: url("../images/pattern-dark.png");
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-contacts a {
    color: var(--main-white);
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social-media {
    text-align: center;
}

.footer-social-media ul {
    list-style: none;
}

.footer-social-media h2 {
    font-size: 14px;
}

/*social button*/

.social-button {
    color: inherit;
}

.social-button:hover,
.social-button:focus {
    background-color: var(--main-white);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: var(--main-black);
    background-color: var(--main-white);
}

/*modal*/

.modal {
    color: var(--main-black);
    background-color: var(--main-white);
    background-image: url("../images/pattern-light.png");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login h2 {
    font-size: 30px;
    line-height: 42px;
}

/*login form*/

.login-form input[type="email"],
.login-form input[type="password"] {
    font: inherit;
    color: var(--main-black);
    text-transform: uppercase;
    background-color: var(--disabled-gray);
    border: 2px solid var(--main-black);
}

.login-form input:focus {
    border-color: var(--special);
}

.login-icon-user {
    background-image: url("images/user-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.login-icon-password {
    background-image: url("images/lock-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
}

/*forgot password*/

.restore {
    color: var(--main-black);
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

